<section class="container mt-5 mb-5">
    <div class="row mt-3">
        [LIST CARDS]
        <p>
            Data from Search: {{ recipes }}
        </p>
        <!-- <div *ngFor="let recipe of recipes" class="col-lg-4 col-md-6 col-12">
            <article class="card mt-3">
                <img src='{{ recipe.strMealThumb }}' class="card-img-top" alt='{{ recipe.strMeal }}'>
                <div class="card-body">
                <h5 class="card-title">{{ recipe.strMeal }}</h5>
                <p class="card-text">{{ recipe.strInstructions | truncate:120 }}</p>
                <a routerLink="/recipe/{{ recipe.idMeal }}" class="btn btn-primary me-3">Tell me how</a>
                <a href="#" class="btn btn-success me-3">Save</a>
                </div>
            </article>
        </div> -->
    </div>
</section>